<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body>

    <!-- Cabeçalho -->
    <header id="header">
        <div id="header_content">
            <!-- Botão de abrir sidebar à esquerda -->
            <button id="open_btn_header">
                <i id="open_btn_icon" class="fa-solid fa-bars"></i>
            </button>
            
            <!-- Logo à esquerda -->
            <a href="{{ url_for('nutricionista.dashboard') }}"><img src="/static/img/smartnutri.png" id="header_logo" alt="Logo"></a>
            
            <!-- Texto central -->
            <h1 id="welcome_text">Bem-vindo ao Sistema</h1>
        </div>
    </header>

    <!-- Sidebar -->
    <nav id="sidebar">
        <div id="sidebar_content">
            <div id="user">
                <img src="src/images/avatar.png" id="user_avatar" alt="Avatar">
                <p id="user_infos">
                    <span class="item-description">
                        Fulano de Tal
                    </span>
                    <span class="item-description">
                        Editar perfil
                    </span>
                </p>
            </div>
            <ul id="side_items">
                <li class="side-item active">
                    <a href="{{ url_for('nutricionista.dashboard') }}">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="item-description">
                            Dashboard
                        </span>
                    </a>
                </li>
            
                <li class="side-item">
                    <a href="{{ url_for('nutricionista.perfil') }}">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">
                           Perfil
                        </span>
                    </a>
                </li>
            </ul>
            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <a href="{{ url_for('auth.logout') }}" id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">
                    Logout
                </span>
            </a>
        </div>        
    </nav>

    <!-- Conteúdo Principal -->
    <main>
        <div id="content-wrapper">
            {% block content %}
            <!-- Conteúdo específico da página será inserido aqui -->
            {% endblock %}
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

</body>
</html>