{% extends "nutricionista/base.html" %}

{% block title %}
Ficha de Atendimento
{% endblock %}

{% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="/static/css/cadpaciente.css">
  </head>
  <body>
    <section class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-messages">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
           {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <header>Cadastro de paciente</header>
      <form action="{{ url_for('nutricionista.cadastro_paciente') }}" method="POST" class="form">
        <div class="input-box">
            <label for="nome">Nome Completo</label>
            <input id="nome" type="text" name="nome" placeholder="" required>
        </div>
        <div class="input-box">
            <label for="email">E-mail</label>
            <input id="email" type="email" name="email" placeholder="" required>
        </div>
        <div class="input-box">
            <label for="cpf">CPF</label>
            <input id="cpf" type="text" name="cpf" placeholder="" required>
        </div>
        <div class="column">
          <div class="input-box">
            <label for="telefone">Telefone</label>
            <input id="telefone" type="text" name="telefone" placeholder="(xx) xxxx-xxxx" required>
          </div>
          <div class="input-box">
            <label for="data_nasc">Data de nascimento</label>
            <input id="data_nasc" type="date" name="data_nasc" placeholder="" required />
          </div>
        </div>
        <div class="gender-box">
            <label for="sexo">Gênero</label>
            <select id="sexo" name="sexo" required>
              <option value="" disabled selected>Selecione</option>
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
            </select>
          </div>

        <div class="input-box address">
          <label>Histórico de saúde</label>
          <div class="input-box">
            <label for="doencas_preexistentes">Doenças pré-existentes</label>
            <input id="doencas_preexistentes" type="text" name="doencas_preexistentes" placeholder="" required>
            </div>
          <div class="input-box">
            <label for="historico_familiar">Histórico familiar</label>
            <input id="historico_familiar" type="text" name="historico_familiar" placeholder="" required>
          </div>
        </div>
        <button>Cadastrar</button>
      </form>
    </section>
  </body>

{% endblock %}