<!-- templates/nutricionista/consultas.html -->
{% extends "nutricionista/base.html" %}

{% block title %}
Ficha de Atendimento
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/static/css/con_historico.css">
    <title>Consultas Realizadas</title>

<body>
    <!-- Verifica se há consultas -->
    {% if consultas %}
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Paciente</th>
                        <th>Detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consulta in consultas %}
                        <tr>
                            <td>{{ consulta.con_data.strftime('%d/%m/%Y') }}</td>
                            <td>{{ consulta.paciente.pac_nome }}</td> <!-- Exibe nome do paciente -->
                            <td>
                                <a href="{{ url_for('nutricionista.detalhes_con', consulta_id=consulta.con_id) }}">Ver Detalhes</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Não há consultas realizadas.</p>
    {% endif %}
</body>
    
{% endblock %}