<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Atendimento</title>
    <link rel="stylesheet" type="text/css" href="/static/css/consulta.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="{{ url_for('nutricionista.dashboard') }}"><img src="../static/assets/seta.png"></a>
        <h1>Ficha de Atendimento Nutricional</h1>
    </header>
    <div class="container">
        <form id="form" class="form" method="POST" action="{{ url_for('nutricionista.consulta', paciente_id=paciente.pac_id) }}">
            <input type="hidden" id="sexo" value="{{ sexo }}">
            <section class="form-section">
                <h2>Objetivos</h2>
                <div class="input-group">
                    <label for="objetivos">Objetivos:</label>
                    <textarea id="objetivos" name="objetivos" placeholder="Ex.: Emagrecimento, ganho de massa muscular..."></textarea>
                </div>
            </section>
            
            <section class="form-section">
                <h2>Dados Antropométricos</h2>
                <div class="input-group">
                    <label for="peso">Peso Atual (kg):</label>
                    <input type="number" id="peso" name="peso" step="0.1" required oninput="calcularIMC()">
                </div>
                <div class="input-group">
                    <label for="altura">Altura (m):</label>
                    <input type="number" id="altura" name="altura" step="0.01" required oninput="calcularIMC()">
                </div>
                <div class="input-group">
                    <label for="imc">IMC:</label>
                    <input type="text" id="imc" name="imc" readonly>
                </div>
                <div class="input-group">
                    <label for="circunferenciaAbdominal">Circunferência Abdominal (cm):</label>
                    <input type="number" id="circunferenciaAbdominal" name="circunferenciaAbdominal" step="0.1">
                </div>
                <div class="input-group">
                    <label for="circunferenciaQuadril">Circunferência do Quadril (cm):</label>
                    <input type="number" id="circunferenciaQuadril" name="circunferenciaQuadril" step="0.1">
                </div>
            </section>

            <!-- Seletor de Método de Cálculo de Gordura -->
            <section class="form-section">
                <h2>Selecione o Método de Cálculo de Gordura Corporal</h2>
                <div class="input-group">
                    <label for="metodo">Método:</label>
                    <select id="metodo" name="metodo" onchange="toggleDobras()">
                        <option value="3">3 Dobras Cutâneas</option>
                        <option value="7">7 Dobras Cutâneas</option>
                    </select>
                </div>
            </section>

            <!-- Seção de Dobras Cutâneas -->
            <section class="form-section" id="dobras-section">
                <h2>Dobras Cutâneas</h2>
                <!-- Formulário para 3 dobras -->
                <div id="dobras-3" class="dobras-group">
                    <div class="input-group">
                        <label for="dobraTricipital">Dobra Tricipital (mm):</label>
                        <input type="number" id="dobraTricipital" name="dobraTricipital" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraSubescapular">Dobra Subescapular (mm):</label>
                        <input type="number" id="dobraSubescapular" name="dobraSubescapular" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraSupraIliaca">Dobra Supra-Iliaca (mm):</label>
                        <input type="number" id="dobraSupraIliaca" name="dobraSupraIliaca" step="0.1">
                    </div>
                </div>

                <!-- Formulário para 7 dobras -->
                <div id="dobras-7" class="dobras-group" style="display: none;">
                    <div class="input-group">
                        <label for="dobraAbdominal">Dobra Abdominal (mm):</label>
                        <input type="number" id="dobraAbdominal" name="dobraAbdominal" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraPeitoral">Dobra Peitoral (mm):</label>
                        <input type="number" id="dobraPeitoral" name="dobraPeitoral" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraCoxa">Dobra da Coxa (mm):</label>
                        <input type="number" id="dobraCoxa" name="dobraCoxa" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraAxilar">Dobra Axilar (mm):</label>
                        <input type="number" id="dobraAxilar" name="dobraAxilar" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraSubabdominal">Dobra Subabdominal (mm):</label>
                        <input type="number" id="dobraSubabdominal" name="dobraSubabdominal" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraGlutea">Dobra Glútea (mm):</label>
                        <input type="number" id="dobraGlutea" name="dobraGlutea" step="0.1">
                    </div>
                    <div class="input-group">
                        <label for="dobraToracica">Dobra Torácica (mm):</label>
                        <input type="number" id="dobraToracica" name="dobraToracica" step="0.1">
                    </div>
                </div>
                
                <div class="input-group">
                    <button type="button" onclick="calcularPercentualGordura()">Calcular Percentual de Gordura e Massa Magra</button>
                </div>

                
                <div id="resultados">
                    <p><strong>Percentual de Gordura: </strong><span id="percentualGordura"></span></p>
                    <p><strong>Massa Magra: </strong><span id="massaMagra"></span></p>
                </div>
            </section>

            <section class="form-section">
                <h2>Rotina</h2>
                <div class="input-group">
                    <label for="rotina">Rotina:</label>
                    <textarea id="rotina" name="rotina" placeholder="Ex.: Café da manhã, lanche, atividade física, horas de sono..."></textarea>
                </div>
            </section>

            <section class="form-section">
                <h2>Preferências Alimentares</h2>
                <div class="input-group">
                    <label for="preferencias">Preferências Alimentares:</label>
                    <textarea id="preferencias" name="preferencias" placeholder="Ex.: Gosta de carne, prefere alimentos vegetarianos"></textarea>
                </div>
                <div class="input-group">
                    <label for="aversoes">Aversões Alimentares:</label>
                    <textarea id="aversoes" name="aversoes" placeholder="Ex.: Não gosta de brócolis, aversão a leite"></textarea>
                </div>
            </section>

            <section class="form-section">
                <h2>Observações</h2>
                <div class="input-group">
                    <label for="obs">Observações:</label>
                    <textarea id="obs" name="obs" placeholder="Vícios, falta de acessibilidade..."></textarea>
                </div>
            </section>

            <div class="form-footer">
                <button type="submit">Enviar Ficha</button>
            </div>

        </form>
    </div>
    
    <script>
        
        function calcularIMC() {
            const peso = parseFloat(document.getElementById('peso').value);
            const altura = parseFloat(document.getElementById('altura').value);

            // Verifica se o peso e a altura foram preenchidos corretamente
            if (isNaN(peso) || isNaN(altura) || altura === 0) {
            document.getElementById('imc').value = ''; // 
            return;
            }
            const imc = peso / (altura * altura);

             document.getElementById('imc').value = imc.toFixed(2);}

        function toggleDobras() {
            const metodo = document.getElementById('metodo').value;
            if (metodo === '3') {
                document.getElementById('dobras-3').style.display = 'block';
                document.getElementById('dobras-7').style.display = 'none';
            } else {
                document.getElementById('dobras-3').style.display = 'none';
                document.getElementById('dobras-7').style.display = 'block';
            }
        }
    
        function calcularPercentualGordura() {
            const peso = parseFloat(document.getElementById('peso').value);
            const altura = parseFloat(document.getElementById('altura').value);
            const idade = parseFloat(document.getElementById('idade') ? document.getElementById('idade').value : 0); // Idade pode ser opcional
            const sexo = document.getElementById('sexo').value; // Captura o sexo do paciente
            const metodo = document.getElementById('metodo').value;
    
            // Verifica se os campos necessários foram preenchidos corretamente
            if (isNaN(peso) || isNaN(altura)) {
                alert('Por favor, insira peso e altura válidos.');
                return;
            }
    
            let percentualGordura = 0;
            let massaMagra = 0;
    
            if (metodo === '3') {
                // 3 dobras
                const tricipital = parseFloat(document.getElementById('dobraTricipital').value);
                const subescapular = parseFloat(document.getElementById('dobraSubescapular').value);
                const supraIliaca = parseFloat(document.getElementById('dobraSupraIliaca').value);
                const somaDobras = tricipital + subescapular + supraIliaca;
    
                // Fórmula para 3 dobras (exemplo considerando o sexo)
                if (sexo === 'Masculino') {
                    percentualGordura = (0.29288 * somaDobras) - (0.0005 * somaDobras * somaDobras) + (0.15845 * idade) - 5.76377;
                } else if (sexo === 'Feminino') {
                    percentualGordura = (0.29669 * somaDobras) - (0.00043 * somaDobras * somaDobras) + (0.15595 * idade) - 6.03522;
                }
    
                massaMagra = peso - (peso * (percentualGordura / 100));
            } else {
                // 7 dobras
                const abdominal = parseFloat(document.getElementById('dobraAbdominal').value);
                const peitoral = parseFloat(document.getElementById('dobraPeitoral').value);
                const coxa = parseFloat(document.getElementById('dobraCoxa').value);
                const axilar = parseFloat(document.getElementById('dobraAxilar').value);
                const subabdominal = parseFloat(document.getElementById('dobraSubabdominal').value);
                const glutea = parseFloat(document.getElementById('dobraGlutea').value);
                const toracica = parseFloat(document.getElementById('dobraToracica').value);
                const somaDobras = abdominal + peitoral + coxa + axilar + subabdominal + glutea + toracica;
    
                // Fórmula para 7 dobras (exemplo considerando o sexo)
                if (sexo === 'Masculino') {
                    percentualGordura = (0.29288 * somaDobras) - (0.0005 * somaDobras * somaDobras) + (0.15845 * idade) - 5.76377;
                } else if (sexo === 'Feminino') {
                    percentualGordura = (0.29669 * somaDobras) - (0.00043 * somaDobras * somaDobras) + (0.15595 * idade) - 6.03522;
                }
    
                massaMagra = peso - (peso * (percentualGordura / 100));
            }
    
            // Exibir os resultados
            document.getElementById('percentualGordura').textContent = percentualGordura.toFixed(2) + '%';
            document.getElementById('massaMagra').textContent = massaMagra.toFixed(2) + ' kg';
        }
    
        window.onload = toggleDobras;
    </script>
    
</body>
</html>
