{% extends "nutricionista/base.html" %}

{% block title %}Dashboard de Pacientes{% endblock %}

{% block content %}
    <h2>Meus Pacientes</h2>

    <form method="get" action="{{ url_for('nutricionista.dashboard') }}" class="busca-container">
        <input type="text" name="busca" placeholder="Buscar paciente por nome..." value="" class="input">
        <input id="busca-btn" type="submit" value="Pesquisar" class="pesquisar"/>
        <a href="{{ url_for('nutricionista.cadastro_paciente') }}">
            <img src="/static/img/adicionar.png" class="adicionar">
        </a>
    </form>

    <div id="dashboard">
       {% for paciente in pacientes %}
    <div class="card">
        <p><strong>{{ paciente.pac_nome }}</strong></p>
        <div class="icones">
            <a href="{{ url_for('nutricionista.editar_paciente', paciente_id=paciente.pac_id) }}">
                <img src="/static/img/pencil-regular-24.png" class="lapis">
            </a>

            {% set consulta = consultas_recentes.get(paciente.pac_id) %}
            {% if consulta %}
                <a href="{{ url_for('nutricionista.detalhes_con', consulta_id=consulta.con_id) }}">
                    <img src="/static/img/history.png" class="relogio">
                </a>
            {% endif %}
        </div>
        <div>
            <p>Idade: {{ paciente.pac_idade }} anos</p>
            <p>Telefone: {{ paciente.pac_tel }}</p>
        </div>
        <div class="button-container">
            <a href="{{ url_for('nutricionista.consulta', paciente_id=paciente.pac_id) }}" method="POST">
                <button>Realizar Consulta</button>
            </a>
        </div>
    </div>
{% endfor %}
    </div>
{% endblock %}
