<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartNutri - Meus Pacientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/dash_nutri.css">
</head>
<body>

<div class="d-flex">
    <div class="sidebar bg-dark text-white p-4">
        <div class="text-center">
            <img src="/static/img/nutri.jpg" alt="Athiely Taiany" class="rounded-circle mb-3" width="80">
            <h5>Athiely Taiany</h5>
        </div>
        <ul class="nav flex-column">
            <li class="nav-item btn-warning"><a href="/templates/index.html" class="nav-link text-white">Início</a></li>
            <li class="nav-item btn-warning"><a href="/templates/funcionalidades.html" class="nav-link text-white">Funcionalidades</a></li>
            <li class="nav-item btn-warning"><a href="#" class="nav-link text-white">Contato</a></li>
            <li class="nav-item mt-auto btn-danger"><a href="#" class="nav-link text-danger">Sair</a></li>
        </ul>
    </div>

   
    <div class="container-fluid p-4">
        <h2 class="mb-4 text-dark">Bem-vinda, Athiely!</h2>
        <div class="d-flex justify-content-start gap-3 mb-4">
            <button class="btn btn-success" type="button">Realizar nova consulta</button>
            <button class="btn btn-success" type="button">Realizar nova consulta</button>
        </div>

        <div class="row g-4">
            <div class="col-md-4">
                <div class="card p-3">
                    <h5 class="card-title">Maria Clara Ribeiro de Brito</h5>
                    <p><a href="#" class="text-success fw-bold">Hipertrofia muscular</a></p>
                    <p>18 anos</p>
                    <button class="btn btn-warning w-100" type="button">Ver prontuário</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>