<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescrição de Dietas</title>
    <link rel="stylesheet" type="text/css" href="/static/css/dieta.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
         <a href= "{{ url_for('nutricionista.consulta') }}"><img src="static/img/seta.png"></a>
        <h1>Prescrição dietética</h1>
    </header>
    <main>
        <section class="diet-form">
            <form id="dietForm">
                <div id="mealsContainer">
                    <!-- Refeições dinâmicas serão adicionadas aqui -->
                </div>
                <div class="actions">
                    <button type="button" id="addMeal">Adicionar Refeição</button>
                    <button type="button" id="generatePDF">Gerar PDF</button>
                    <a href="{{ url_for('nutricionista.consulta') }}">
                        <button type="button" id="salvar">Salvar</button>
                    </a>
                </div>
            </form>
        </section>
    </main>
    <br>
    <br>
    <footer>
        
        <img class="smart" src="static/img/smartnutri.png">
    </footer>

    <script src="static/dieta.js"></script>
</body>
</html>
