{% extends "nutricionista/base.html" %}

{% block title %}
Atualizar Perfil do Nutricionista
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <div class="perfil-content">
    <div class="perfil-sidebar">
    <h2>{{ nutricionista.nutri_nome }}</h2>
  </div>
    <form method="POST" action="{{ url_for('nutricionista.perfil') }}">
      <div class="perfil-info">
        <div class="info-group">
          <label for="nutri_email">Email</label>
          <input type="email" id="nutri_email" name="nutri_email" value="{{ nutricionista.nutri_email }}" required>
        </div>
        <div class="info-group">
          <label for="nutri_telefone">Telefone</label>
          <input type="tel" id="nutri_telefone" name="nutri_telefone" value="{{ nutricionista.nutri_telefone }}" required>
        </div>
        <div class="info-group">
          <label for="nutri_cpf">CPF</label>
          <input type="text" id="nutri_cpf" name="nutri_cpf" value="{{ nutricionista.nutri_cpf }}" required>
        </div>
        <div class="info-group">
          <label for="nutri_crn">CRN</label>
          <input type="text" id="nutri_crn" name="nutri_crn" value="{{ nutricionista.nutri_crn }}" required>
        </div>
      </div>

      <div class="perfil-buttons">
        <button type="submit" class="btn-update">Salvar Alterações</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}