{% extends "nutricionista/base.html" %}

{% block title %}Substituições da Dieta #{{ dieta.dieta_id }}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/static/css/substituicoes.css">
<h2>Substituições da Dieta de {{ dieta.paciente.pac_nome }}</h2>

<div class = "cardnew">
  <form method="POST">
  <div>
    <label>Alimento Original</label>
    <select name="alimento_original" required>
      {% for item in cardapio %}
        <option value="{{ item.alimento_id }}">{{ item.alimento.alimento_nome }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label>Alimento Substituto</label>
    <select name="alimento_substituto" required>
      {% for alimento in alimentos %}
        <option value="{{ alimento.alimento_id }}">{{ alimento.alimento_nome }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label>Quantidade (g)</label>
    <input type="number" step="0.1" name="quantidade" required>
  </div>

  <button class="button" type="submit">Salvar Substituição</button>
</form>

<hr>
</div>

<div class = "tabelasubs">
  <h3>Substituições Cadastradas</h3>
  <table>
    <thead>
      <tr>
        <th>Alimento Original</th>
        <th>Substituto</th>
        <th>Quantidade (g)</th>
      </tr>
    </thead>
    <tbody>
      {% for sub in dieta.substituicoes %}
      <tr>
        <td>{{ sub.alimento_original.alimento_nome }}</td>
        <td>{{ sub.alimento_substituto.alimento_nome }}</td>
        <td>{{ sub.quantidade }}</td>
      </tr>
      {% else %}
      <tr><td colspan="3">Nenhuma substituição cadastrada.</td></tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>


<a class="abutton" href="{{ url_for('nutricionista.dashboard') }}">Voltar ao Dashboard</a>
{% endblock %}
