@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde-cabeçalho: #0a5247;
    --verde-botao-borda: #70883A;
    --verde-claro: #bfd202;
    --bege: #e4dedc;
    --verde-medio: #6d872e;
    --verde-hover: #D9E021;
    --verde-padrao:#15ad52;
    --branco: #fff;
    --laranja: #d47f50;
    --rosa: #e86975;
    --preto: #000;
    --amarelo: #ffc107;
    --amarelo-queimado: gold;
    --azul: #0d6efd;
    --borda-botao-verde: #004033;
    --hover-nav: #5d6d31;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--branco);
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
}

main {
    padding: 20px;
    z-index: 1;
    padding-left: calc(82px + 20px);
    overflow-y: auto;
}

nav {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebar_content {
    padding: 12px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#user_infos {
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    color: var(--branco);
}

.side-item.active {
    background-color: var(--verde-padrao);
}

.side-item:hover:not(.active),
#logout_btn:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: var(--branco);
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: var(--azul);
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: var(--verde-padrao);
    color: var(--branco);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#open_btn_icon {
    transition: transform .3s ease;
}

.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

#dashboard {
    display: flex;
    flex-wrap: wrap; /* Faz os cards se organizarem em várias linhas */
    gap: 20px;
    justify-content: flex-start;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px; /* Ajuste a largura do card */
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px); /* Efeito de levitar quando o mouse passa */
}

.card p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.card button {
    background-color: var(--rosa);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #f5c5d3;
}

.busca-container {
    display: flex;
    gap: 20px;  
    align-items: center;  
    margin-top: 20px;
}

.busca-container input {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 300px; 
}

.busca-container button {
    background-color: var(--rosa);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.busca-container button a {
    color: white;
    text-decoration: none;
}

.busca-container button:hover {
    background-color: #f5c5d3;
}




#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Cabeçalho cobrindo toda a largura da tela */
    background-color: var(--verde-padrao);
    color: white;
    padding: 10px 20px;
    height: 80px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Para garantir que o cabeçalho fique por cima da sidebar */
}

/* Logo à esquerda */
#header_logo {
    position: absolute;
    left: 60px; /* Ajuste para o botão de abrir sidebar */
    height: 60px;
    max-width: 180px;
}

/* Texto central */
#welcome_text {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}



/* Conteúdo principal */
#content-wrapper {
    margin-left: 250px;
    margin-top: 80px;
    padding: 20px;
}



/* Botão de expandir a sidebar */
#open_btn_header {
    position: absolute;
    left: 20px;
    background-color: var(--verde-padrao);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
#open_btn_icon {
    font-size: 20px;
}

.btn-voltar {
    background-color: var(--verde-padrao);
}