<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>

<!-- Cabeçalho -->
<header id="header">
    <div id="header_content">
        <!-- Botão de abrir sidebar à esquerda -->
        <button id="open_btn_header">
            <i id="open_btn_icon" class="fa-solid fa-bars"></i>
        </button>
        
        <!-- Logo à esquerda -->
        <img src="/static/img/smartnutri.png" id="header_logo" alt="Logo">
        
        <!-- Texto central -->
        <h1 id="welcome_text">Bem-vindo ao Sistema</h1>
    </div>
</header>

    <!-- Conteúdo Principal -->
    <main>
        <div id="content-wrapper">
            {% block content %}
            <!-- Conteúdo específico da página será inserido aqui -->
            {% endblock %}
        </div>
    </main>

    <script src="../static/js/dashboard.js"></script>
</body>
</html>
